@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.section-contracts {
  width: 100%;
  margin-top: 20px;
  display: flex;
  flex-direction: column;

  &--title {
    margin: 32px 0;
    color: $color-dark-primary;
    text-align: center;
    @include tittleMobile;
  }
  &--total {
    margin-top: 24px;
    color: $color-dark-primary;
    text-align: center;
    @include subTittleMobile;
  }
  &--no-contracts,
  &--filter {
    margin-top: 24px;
    color: $color-dark-primary;
    @include ParagraphsMobile;
  }

  &__contract-wrap {
    width: 100%;
    margin-top: 28px;
    margin-bottom: 80px;
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    justify-content: center;

    &--card-contract {
      width: 60%;
      min-width: 280px;
      max-width: 380px;
      height: auto;
      background-color: $color-light-primary;
      border-radius: 24px;
      padding: 12px;

      & h3,
      & p {
        color: $color-dark-primary;
        @include subTittleMobile;
        margin-top: 12px;
        padding: 0 12px;
      }

      & p {
        @include ParagraphsMobile;
        margin-top: 0px;
      }
    }
  }
}

@media (min-width: 768px) {
  .section-contracts {
    &--title {
      @include titleTablet;
    }
    &--total {
      @include subTitleTablet;
    }
    &--no-contracts,
    &--filter {
      @include ParagraphsTablet;
    }

    &__contract-wrap {
      &--card-contract {
        & h3,
        & p {
          @include subTitleTablet;
        }

        & p {
          @include ParagraphsTablet;
        }
      }
    }
  }
}
