@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.navBar {
  display: inline-flex;
  align-items: center;
  &__icon-menu {
    height: 30px;
    position: relative;
    cursor: pointer;
    font-size: 32px;
    transform: translateX(-16px);
    color: $color-light-primary;
  }
  &__list {
    position: absolute;
    visibility: hidden;
    opacity: 0;
    top: 60px;
    right: 0;
    width: 100%;
    max-width: 250px;
    height: 140px;
    background-color: $color-light-primary;
    display: inline-flex;
    flex-direction: column;
    border-radius: 0 0 0 20px;
    transition: all 0.5s ease-in-out;
    &:target {
      height: auto;
    }
    &.showMenu {
      display: inline-flex;
      visibility: visible;
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    & .nav__list--home {
      margin: 24px 0 4px 12px;
    }

    & .nav__list--statistic {
      margin: 4px 0 4px 12px;
    }

    & .nav__list--about-us {
      margin: 4px 0 24px 12px;
    }

    & .nav__list--home,
    .nav__list--statistic,
    .nav__list--about-us {
      list-style: none;

      & a {
        text-decoration: none;
        color: $color-dark-primary;
        @include tittleMobile;
        &:hover {
          color: $color-dark-light;
        }
        & i {
          font-size: 24px;
          color: $color-dark-light;
          padding-right: 4px;
        }
      }
    }
  }
}
@media (min-width: 768px) {
  .navBar {
    &__list {
      max-width: 345px;
      height: auto;
      & .nav__list--home,
      .nav__list--statistic,
      .nav__list--about-us {
        & a {
          @include titleTablet;
          & i {
            font-size: 32px;
          }
        }
      }
    }
  }
}
