// Colors
$color-light-primary: #ffffff;
$color-light-secondary: #f2f4f4;
$color-dark-primary: #1a233a;
$color-dark-secondary: #272e48;
$color-dark-light: #344775;
$color-primary: #5a8dee;
$color-secondary: #fdac41;
$color-tertiary: #ff5b5c;
$color-text-dark: #bdd1f8;

// Shadows
$shadow-light: 0px 0px 4px -1px rgba(0, 0, 0, 0.25);
$shadow-dark: b0px 0px 4px 2px rgba(189, 209, 248, 0.25);
//Fuentes

// Size
$base: 0.4rem;

// Size Destktop
$sizeTitleDestktop: $base * 15;
$sizeSubtitleDestktop: $base * 10;
$sizeParagraphsDestktop: $base * 8;
$sizeLogoDesktop: $base * 15;

// Tablet
$sizeTitleTablet: $base * 9;
$sizeSubtitleTablet: $base * 5;
$sizeParagraphsTablet: $base * 4;
$sizeLogoTablet: $base * 10;

//Mobile
$sizeTitleMobile: $base * 5;
$sizeSubtitleMobile: $base * 4;
$sizeParagraphsMobile: $base * 3;
$sizeLogoMobile: $base * 6;

// Font Family

$fontTitle: "Montserrat", sans-serif;
$fontSecondary: "Roboto", sans-serif;
