@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.home {
  //   width: 100vw;
  display: inline-flex;
  justify-content: space-between;
  &__title {
    color: $color-dark-primary;
  }
}
