@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

main {
  width: 95%;
  display: flex;
  margin: 0 auto;
  & .home {
    margin: 0 auto;
    width: 90%;
    max-width: 1024px;
    display: flex;
    flex-direction: column;
    &__title {
      @include tittleMobile;
      color: $color-dark-primary;
      text-align: center;
      margin-top: $sizeLogoMobile;
    }
    &__subtitle {
      @include ParagraphsMobile;
      color: $color-dark-primary;
      margin: $sizeLogoMobile 0;
    }

    &__paragraph {
      @include ParagraphsMobile;
      color: $color-dark-primary;
      margin: $sizeLogoMobile 0;
    }

    &__paragraph--use {
      color: $color-dark-primary;
      margin: 24px 0 0 0;
      @include ParagraphsMobile;
    }

    &__container-example {
      margin-top: $sizeLogoMobile;
      &--img {
        width: 80%;
        max-width: 400px;
        min-width: 190px;
        height: auto;
        margin-left: auto;
        margin-right: auto;
        display: block;
        & img {
          margin-left: auto;
          margin-right: auto;
          display: block;
          width: 100%;
          height: auto;
        }
      }
    }
    &__container-chart {
      margin: $sizeLogoMobile;
      &--logo {
        width: 183px;
        height: 183px;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 40px;
        display: block;
        & img {
          width: 183px;
          height: 183px;
        }
      }
    }
  }
}

@media (min-width: 768px) {
  main {
    & .home {
      &__title {
        @include titleTablet;
        color: $color-dark-primary;
        text-align: center;
        margin-top: $sizeLogoTablet;
      }
      &__subtitle {
        @include ParagraphsTablet;
        color: $color-dark-primary;
        margin: $sizeLogoTablet 0;
      }
      &__paragraph {
        @include ParagraphsTablet;
        color: $color-dark-primary;
        margin: $sizeLogoTablet 0;
        &--link {
          color: $color-primary;
          &:hover {
            color: $color-dark-light;
          }
        }
      }
      &__container-example {
        margin-top: $sizeLogoTablet;
        &--img {
          width: 80%;
          max-width: 500px;
        }
      }
      &__container-chart {
        margin: $sizeLogoTablet 0;
      }
    }
  }
}
