@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.container__contract-expense {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--title {
    @include tittleMobile;
    color: $color-dark-primary;
    text-align: center;
    margin: 40px 0;
  }
  &--expenses-wrap {
    width: 80%;
    // height: 240px;
    // padding-left: 10px;
  }
  &--chart {
    width: 280px;
    height: 140px;
    background-color: $color-light-primary;
    margin-top: 24px;
  }

  &--wrap {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 16px;
    margin: 32px 0;

    &--card {
      width: 60%;
      min-width: 280px;
      max-width: 460px;
      height: auto;
      background-color: $color-light-primary;
      border-radius: 24px;
      padding: 16px;

      & h3 {
        color: $color-dark-primary;
        @include subTittleMobile;
        & span {
          @include ParagraphsMobile;
        }
      }

      & p {
        @include ParagraphsMobile;
      }
    }
  }
}
@media (min-width: 768px) {
  .container__contract-expense {
    width: 100%;

    &--title {
      @include titleTablet;
    }

    &--wrap {
      &--card {
        // width: 348px;
        & h3 {
          @include subTitleTablet;
          & span {
            @include ParagraphsTablet;
          }
        }

        & p {
          @include ParagraphsTablet;
        }
      }
    }
  }
}
