@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.filter-time {
  width: 60%;
  max-width: 600px;
  min-width: 480px;

  &--title {
    @include tittleMobile;
    margin-top: 28px;
  }

  &__filter {
    width: 100%;
    height: 32px;
    margin-top: 12px;

    &--month,
    &--quarter {
      @include subTittleMobile;
      font-weight: bold;
      border: none;
      width: 180px;
      height: 40px;
      color: $color-dark-primary;
      padding: 4px 20px;
      border-radius: 12px;
      box-shadow: $shadow-light;
    }

    &--month {
      width: 84px;
      padding: 4px 10px;
      margin-right: 24px;
    }
    & label {
      color: $color-dark-primary;
      @include subTittleMobile;
      margin-right: 16px;
    }

    & span {
      color: $color-dark-primary;
      @include subTittleMobile;
      margin-right: 24px;
    }
  }
}
