@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.container__contract-month {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &--title {
    @include tittleMobile;
    color: $color-dark-primary;
    text-align: center;
    margin-top: 32px;
  }

  &--chart-wrap {
    width: 80%;
    margin-left: -40px;
  }

  &--chart {
    width: 280px;
    height: 140px;
    background-color: $color-light-primary;
    margin-top: 24px;
  }
}

.recharts-tooltip-wrapper {
  font-size: 20px;
}

@media (min-width: 768px) {
  .container__contract-month--title {
    @include titleTablet;
    margin-bottom: 32px;
  }
}
