@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.nav-contracts {
  width: 100%;
  // display: flex;
  // justify-content: space-between;
  margin: 24px 0 24px 0;

  &--btn-volver {
    width: 108px;
    height: 36px;
    border: $color-dark-primary;
    border-radius: 8px;
    cursor: pointer;
    color: $color-light-primary;
    background-color: $color-dark-primary;
    @include subTittleMobile;
    &:hover {
      background-color: $color-secondary;
    }

    & i {
      margin-right: 8px;
    }
  }
  &--btn-volver {
    position: fixed;
  }
}
