@import "../../assets/scss/reset";
@import "../../assets/scss/variables";
@import "../../assets/scss/mixins";

.card-total-contract {
  width: 240px;
  height: 190px;
  background-color: $color-light-primary;
  border-radius: 12px;
  margin-top: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &--all {
    margin-top: 16px;
    display: flex;
    flex-direction: column;

    & span {
      text-align: center;
    }
  }

  &__investment {
    margin-top: 12px;
    display: flex;
    flex-direction: column;

    &--amount {
      text-align: center;

      & span {
        margin-left: 8px;
      }
    }
  }

  &--all,
  &__investment {
    @include subTittleMobile;
    color: $color-dark-primary;
  }

  & a {
    transform: translateY(18px);
  }
  .btn-ver-todos {
    width: 104px;
    height: 28px;
    border: $color-dark-primary;
    border-radius: 8px;
    cursor: pointer;
    color: $color-light-primary;
    background-color: $color-dark-primary;
    @include ParagraphsMobile;
  }
}
